h1 Welcome to Sportsball!
p Predicting the outcome of matches since 2016

= link_to "Manage teams", teams_path
| &nbsp; | &nbsp;
= link_to "Manage games", games_path
| &nbsp; | &nbsp;
= link_to "Predict an outcome!", new_prediction_path